body {
	display: grid;
	height: 100vh;
	place-content: center;
	overflow: hidden;
	background-color: #121212;
	user-select: none;
}

#gameTitle {
	justify-self: center;
	color: #ffffff;
}

#canvas {
	background-color: black;
	margin: auto;
}

.image {
	display: none;
}